@import "../common/var";

.m-button {
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
}

// color
.m-button--success {
  border: 1px solid $success;
}
.m-button--primary {
  background-color: 1px solid $primary;
}
.m-button--warning {
  background-color: 1px solid $warning;
}
.m-button--danger {
  background-color: 1px solid $danger;
}
.m-button--info {
  background-color: 1px solid $info;
}


// size  mini | small | medium
.m-button--mini {
  font-size: $mini-font-size;
  padding: $mini-padding-vertical $mini-padding-horizontal;
}

.m-button--small {
  font-size: $small-font-size;
  padding: $small-padding-vertical $small-padding-horizontal;
}

.m-button--medium {
  font-size: $medium-font-size;
  padding: $medium-padding-vertical $medium-padding-horizontal;
}