@import "./common/var";

.m-button {
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 10px;
  font-size: $--button-font-size;
  padding: $--button-padding-vertical $--button-padding-horizontal;
  color: #666;
  background: $--color-white;
  border: 1px solid #f1f1f1;
}

// color
.m-button--success {
  color: #fff;
  background: $success;
  &:active {
    background: rgba($color: $success, $alpha: .8);
    border-color: $success;
    outline: none;
  }
}
.m-button--primary {
  color: #fff;
  background: $primary;
}
.m-button--warning {
  color: #fff;
  background: $warning;
}
.m-button--danger {
  color: #fff;
  background: $danger;
}
.m-button--info {
  background: $info;
}


// size  mini | small | medium
.m-button--mini {
  font-size: $mini-font-size;
  padding: $mini-padding-vertical $mini-padding-horizontal;
}

.m-button--small {
  font-size: $small-font-size;
  padding: $small-padding-vertical $small-padding-horizontal;
}

.m-button--medium {
  font-size: $medium-font-size;
  padding: $medium-padding-vertical $medium-padding-horizontal;
}