// 主色
$primary: #14C5AD !default;
$success: #6ABC4B !default;
$warning: #60460F !default;
$danger: #E44545 !default;
$info: #C9CACC !default;



// size
$--button-font-size: 12px !default;
$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 20px !default;

$mini-font-size: 12px !default;
$mini-padding-vertical: 7px !default;
$mini-padding-horizontal: 15px !default;

$small-font-size: 12px !default;
$small-padding-vertical: 9px !default;
$small-padding-horizontal: 15px !default;

$medium-font-size: 12px !default;
$medium-padding-vertical: 10px !default;
$medium-padding-horizontal: 20px !default;

